In [1]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("basics_dataframe").getOrCreate()

22/11/10 09:02:24 WARN Utils: Your hostname, mbp.local resolves to a loopback address: 127.0.0.1; using 192.168.18.6 instead (on interface en0)
22/11/10 09:02:24 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/10 09:02:25 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/11/10 09:02:25 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/11/10 09:02:25 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [10]:
df = spark.read.json("./../sample_data/people.json")

In [11]:
df.show()

+----+-----+
| age| name|
+----+-----+
|null|  Joe|
|  39| John|
|  49|Jason|
+----+-----+

In [12]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [16]:
df.columns

['age', 'name']

In [17]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [19]:
df.describe().show()

+-------+------------------+-----+
|summary|               age| name|
+-------+------------------+-----+
|  count|                 2|    3|
|   mean|              44.0| null|
| stddev|7.0710678118654755| null|
|    min|                39|Jason|
|    max|                49| John|
+-------+------------------+-----+

In [21]:
from pyspark.sql.types import (
    StringType,
    IntegerType,
    StructType,
    StructField
)

In [26]:
schema = [
    StructField("age", IntegerType(), nullable=True),
    StructField("name", StringType(), nullable=True)
]

In [28]:
struct = StructType(schema)

In [31]:
df = spark.read.json("./../sample_data/people.json", schema=struct)

In [32]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)